<main>
    <h1 class='p-title'>Welcome to CSE Motors</h1>

    <div class="banner">
        <div class="info-div">
            <h2>DMC Delorean</h2>
            <p>3 Cup Holders</p>
            <p>Superman Doors</p>
            <p>Fuzzy Dice!</p>
            <img src="/images/site/own_today.png" alt="own today" width="100px" height="50px">
        </div>
        <picture>
            <source srcset="/images/vehicles/delorean.jpg" type="image/webp" media="(min-width: 1024px)">
            <source srcset="/images/vehicles/delorean-tn.jpg" type="image/jpeg" media="(max-width: 350px)">
            <img src="/images/vehicles/delorean.jpg" alt="Delorean" width="300">
        </picture>
    </div>

    <div class="content">
        <div class="upgrades-container">
            <h2>Delorean Upgrades</h2>
            <div class = "upgrades">
                <div class="upgrade">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    <a href="#">Flux Capacitor</a>
                </div>
                <div class="upgrade">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Mr. Fusion">
                    <a href="#">Mr. Fusion</a>
                </div>
                <div class="upgrade">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    <a href="#">Bumper Stickers</a>
                </div>
                <div class="upgrade">
                    <img src="/images/upgrades/flame.jpg" alt="Plutonium">
                    <a href="#">Plutonium</a>
                </div>
            </div>
        </div>

        <div class="reviews-container">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time."(4/5)</li>
                <li>"Coolest ride on the road."(5/5)</li>
                <li>"I'm feeling like a movie star!"(5/5)</li>
                <li>"The most futuristi c ride of our day."(4.5/5)</li>
                <li>"80's livin and lovin."(5/5)</li>
            </ul>
        </div>
    </div>
</main>